body {  
	background-image: url(http://shareyourwallpapers.com/upload/wallpaper/3d-and-digital-art/abstract/abstract_4b7ad91c.jpg);}

header {   
	border-style: solid; 
	border-color: purple; 
	width: 94% ;
	margin: 0px 0px 0px 3% ;
	display: block; 
	background-color: rgba(204, 51, 153, 0.5); }

ul {  
	list-style-type: none; 
	display: block;
	border-style: solid;
	border-color: black;
	text-align: center; }

li {  
	display: inline;
	padding: 10px 10px 10px 10px;
	color: white ;}

section {  
	background-color: rgba(204, 51, 153, 0.3);
	border-style: solid; border-color: purple; 
	margin: 25px 30px 25px 3%; 
	padding: 10px 10px 10px 10px ;
	display: inline-block;
	width: 25%; 
	height: auto}

p {   
	color: white; }

#con {  
	margin: 0px;
	display: inline-block; }

h2 {  
	color: white; }

#mij {  
	margin: 0px; }

a {  
	color: red; }

.left {  
	float: left; }

.right {  
	float: right;}

#kop { 
	text-align: center;} 

aside {  
	float: right;
	margin: 15px 3% 5px 0px; }

img {  
	border-style: solid; border-color: purple}

#p1 {  
	height: 30%; 
	float: right;}

.game {  
	text-align: left;}

#game-1 {  
	width: 30% }

#anime-1 {  
	width: 30%}